@use "../abstract/variables" as variables;
@use "../abstract/mixins" as mixins;

.hero {
  padding-bottom: 20rem;
  position: relative;

  @include mixins.responsive(mixins.$desktop) {
    padding: 5rem 0 15rem 10.4rem;
  }

  &__container {
    display: flex;
    gap: 2rem;
    flex-direction: column-reverse;

    @include mixins.responsive(mixins.$desktop) {
      flex-direction: row;
      gap: 2.4rem;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
    align-items: center;

    @include mixins.responsive(mixins.$desktop) {
      flex: 0 1 55%;
      gap: 1.2rem;
      padding: 0;
      align-items: start;
      justify-content: center;
    }
  }

  &__text-description {
    font-size: 2.25rem;
    text-align: center;
    color: variables.$grayish-violet;

    @include mixins.responsive(mixins.$desktop) {
      text-align: left;
      font-size: 2.4rem;
      padding-right: 4.8em;
      margin-top: -1.2rem;
      margin-bottom: 2.4rem;
    }
  }

  &__illustration-container {
    align-self: flex-end;
    overflow: hidden;

    @include mixins.responsive(mixins.$desktop) {
      flex: 0 1 45%;
    }
  }

  &__illustration {
    margin-right: -18rem;
    max-width: 60rem;

    @include mixins.responsive(mixins.$desktop) {
      max-width: 200rem;
    }
  }
}

.shortly-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -13%;
  margin: 0 auto;

  @include mixins.responsive(mixins.$desktop) {
  }

  &__container {
    padding: 2rem;

    @include mixins.responsive(mixins.$desktop) {
      padding: 0 10.4rem;
    }
  }

  &__input-form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 10px;

    background-color: variables.$dark-violet;
    background-image: url("/images/bg-shorten-mobile.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top right;

    @include mixins.responsive(mixins.$desktop) {
      flex-direction: row;
      padding: 6rem 6.4rem 2rem 6.4rem;
      align-items: start;

      background-image: url("/images/bg-shorten-desktop.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include mixins.responsive(mixins.$desktop) {
      gap: 1.2rem;
      flex: 0 1 80%;
    }
  }

  &__url-input {
    padding: 2rem 1.5rem;
    font-size: 2.25rem;
    font-weight: 400;
    border-radius: 5px;
    border: none;
    width: 100%;
    position: relative;

    &::placeholder {
      color: variables.$grayish-violet;
    }

    @include mixins.responsive(mixins.$desktop) {
      width: 100%;
      border-radius: 10px;
      position: relative;
    }

    &--error {
      outline: 5px solid variables.$red;

      &::placeholder {
        color: variables.$red;
      }
    }
  }

  &__submit-btn {
    padding: 2rem 1.5rem;
    font-size: 2.25rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;

    background-color: variables.$cyan;
    color: white;
    transition: 0.2s all ease-in;

    @include mixins.responsive(mixins.$desktop) {
      flex: 0 1 20%;
      border-radius: 10px;
    }

    &:hover {
      background-color: rgb(0, 227, 227);
    }
  }

  &__label-input-error {
    color: variables.$red;
    font-size: 1.5rem;

    @include mixins.responsive(mixins.$desktop) {
      font-size: 1.8rem;
    }

    &--hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }
}

.shorten-url {
  padding: 15rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: rgba(157, 153, 166, 0.2);

  @include mixins.responsive(mixins.$desktop) {
    padding: 15rem 10.4rem 0 10.4rem;
  }

  &__container {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5rem 1rem 0.5rem rgba(157, 153, 166, 0.2);

    @include mixins.responsive(mixins.$desktop) {
      padding: 1.2rem 2.4rem;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
    }
  }

  &__container:last-child {
    margin-bottom: -15rem;
  }

  &__url-text {
    padding: 1.5rem;
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &--shorten {
      color: variables.$cyan;

      @include mixins.responsive(mixins.$desktop) {
        text-align: right;
      }
    }

    @include mixins.responsive(mixins.$desktop) {
      font-size: 1.8rem;
      flex: 0 1 42.5%;
    }
  }

  &__break {
    border-top: 1px solid rgba(110, 110, 110, 0.2);

    @include mixins.responsive(mixins.$desktop) {
      display: none;
    }
  }

  &__btn-container {
    padding: 0 1.5rem 2rem 1.5rem;

    @include mixins.responsive(mixins.$desktop) {
      padding: 0;
      flex: 0 1 15%;
    }
  }

  &__copy-url-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 1.5rem;
    font-size: 2.25rem;
    font-weight: 700;
    background-color: variables.$cyan;
    color: white;
    transition: 0.2s all ease-in;

    @include mixins.responsive(mixins.$desktop) {
      padding: 1.2rem 3.6rem;

      font-size: 1.8rem;
    }

    &--copied {
      background-color: variables.$dark-violet;
    }

    &:hover {
      background-color: rgba(41, 207, 207, 0.5);
    }
  }

  &--hidden {
    display: none;
  }
}

.feature {
  padding-top: 15rem;
  background-color: rgba(157, 153, 166, 0.2);
  overflow: hidden;

  @include mixins.responsive(mixins.$desktop) {
    padding: 15rem 10.4rem;
  }

  &__container {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;

    @include mixins.responsive(mixins.$desktop) {
    }
  }

  &__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__text {
    font-size: 2.25rem;
    color: variables.$grayish-violet;
    margin-bottom: 10rem;

    @include mixins.responsive(mixins.$desktop) {
      font-size: 1.8rem;
      margin-bottom: 6.4rem;
    }
  }

  &__description {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15rem;

    @include mixins.responsive(mixins.$desktop) {
      height: 40rem;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      gap: 2.4rem;
    }
  }

  &__text-box {
    position: relative;
    height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 7rem 3rem 3rem 3rem;
    background-color: white;
    border-radius: 5px;

    @include mixins.responsive(mixins.$desktop) {
      align-items: start;
      flex: 0 1 30%;
    }

    &--brand {
      @include mixins.responsive(mixins.$desktop) {
        align-self: flex-start;
      }
    }

    &--fully {
      @include mixins.responsive(mixins.$desktop) {
        align-self: flex-end;
      }
    }
  }

  &__illustration-container {
    position: absolute;
    border-radius: 50%;
    padding: 3rem;
    background-color: variables.$dark-violet;

    &--brand {
      top: -25%;

      @include mixins.responsive(mixins.$desktop) {
        top: -20%;
      }
    }

    &--detailed {
      top: -20%;

      @include mixins.responsive(mixins.$desktop) {
        top: -20%;
      }
    }

    &--fully {
      top: -25%;

      @include mixins.responsive(mixins.$desktop) {
        top: -20%;
      }
    }
  }

  &__illustration {
    @include mixins.responsive(mixins.$desktop) {
      max-height: 4rem;
    }
  }

  &__description-text {
    font-size: 2rem;
    color: variables.$grayish-violet;
    text-align: center;

    @include mixins.responsive(mixins.$desktop) {
      font-size: 1.6rem;
      text-align: left;
    }
  }

  &__lines {
    position: absolute;
    height: 100%;
    width: 100%;
    right: -48%;
    z-index: -1;

    border-left: 10px outset variables.$cyan;

    @include mixins.responsive(mixins.$desktop) {
      display: initial;
      border-top: 10px solid variables.$cyan;
      top: 40%;
      width: 100%;
      height: 0;
      right: 0;
      z-index: -1;
    }
  }
}

.cta {
  padding: 10rem 3rem;
  background-color: variables.$dark-violet;
  background-image: url("/images/bg-boost-mobile.svg");
  background-repeat: no-repeat;

  @include mixins.responsive(mixins.$desktop) {
    background-image: url("/images/bg-boost-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
